{% extends 'base.html.twig' %}

{% block title  %}Tous nos biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous mes biens</h1>
       <div class="row">
           {% for property in properties %}
               <div class="col-md-4">
                   {% include 'property/_property.html.twig' %}
               </div>
           {% endfor %}
       </div>
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}
